@page "/"
@inject NavigationManager NavigationManager

@code {
    protected override void OnInitialized()
    {

        NavigationManager.NavigateTo("children", replace: true);
    }
}

<PageTitle>Home</PageTitle>

<h1>Redirecting...</h1>
